<!-- Place our header / nav -->
<!-- https://github.com/jelbourn/material2-app/blob/master/src/app/app.component.html -->
<md-sidenav-layout>

  <!-- Mobile Nav Bar -->
  <md-sidenav #sidenav mode="side" class="sidenav">
    Sidenav
  </md-sidenav>

  <!-- Desktop Nav Bar -->
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">Dark Theme</button>
  </md-toolbar>

<!-- Main Application -->
<h1>
  {{title}}
</h1>

<router-outlet></router-outlet>
<!-- Routed views go here -->

<!-- Place our footer -->

</md-sidenav-layout>
