<h1 class="center-text">Uh Oh!</h1>

<div class="center-text">
    Seems like Something went wrong with getting the website content from the <a href="http://sayonarajs.com" target="_blank">Sayonara</a> API. This is kinda lame. I am sorry about that. I bet I am out right now having a great time, and you're just trying to browse the web, or do your job, and this website is down. Dude. My bad. I guess that is what I get for building my own CMS/Framework thingy, and rebuilding my own website on top of it when it is still in Alpha. I thought it would be cool though! Well, I guess it is cool when it works. Want to hear a joke in the meantime? ["hip","hip"] (Hip hip array!). Ha! You get it? It's an array of two "hip"'s. I thought it was funny. I found it on Reddit. Anyways, back to the matter at hand. If you're still with me, perhaps it was your internet connection that failed to make the reqyest to the sayonara page?

    You can try and <a href="">reload the page</a> if you are up to it! Anyways, I hope to hear from you soon! And if you would be so kind, you can e-mail me at: <a href="mailto:aaron@aaronthedev.com">aaron@aaronthedev.com</a>, to let me know my website is acting up. Thank you! And, Good luck!
</div>
