<!-- Place our header / nav -->
<!-- https://github.com/jelbourn/material2-app/blob/master/src/app/app.component.html -->
<md-sidenav-layout class="nav">

  <!-- Mobile Nav Bar -->
  <md-sidenav #sidenav mode="side" class="nav__sidenav">
    Sidenav
  </md-sidenav>

  <!-- Desktop Nav Bar -->
  <md-toolbar color="primary">
    <button class="nav__icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <div class="nav__title">
    {{siteTitle}}
    </div>

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <!-- Overlay to show when sidenav opened -->
  <div class="nav__overlay"
      [ngClass]="{'nav__overlay--show': sidenav.opened}"
      (click)="clickOutsideSideNav(sidenav)">
  </div>

<!-- Main Application -->
<div class="c-app">

    <router-outlet></router-outlet>
    <!-- Routed views go here -->

    <!-- Place our footer -->

</div>

</md-sidenav-layout>
